body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#topbar {
  min-height: 150px;
  background-color: #1a3566;
}

#main {
  background-color: #e71717;
  display: flex;
  flex: 1 0 auto;

}

#camera_list {
  width: 255px;
  /*flex: 0 0 250px;*/
  background-color: #334361;
}

#view_map {
  flex: 1 1 auto;
  background-color: #585454;
}

.react_wrapper{
  display: flex;
  justify-content: space-between;
}

.input {
  height: 100%;
  margin: 5px;
}

.button_list {
  margin: 5px;
  }

li {
  list-style-type: none;
  }

.map-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.map-container {
  background-color: #337361;
  height: 300px;
}

.map-toolbar {
  display: flex;
  background-color: #334361;
  height: 30px;

}
