body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#topbar {
  min-height: 50px;
  background-color: #1a3566;
  display: flex;
  justify-content: space-between;
}
/*
.topbar_wrapper{
  display: flex;
  justify-content: space-between;
}
*/
#main {
  background-color: #e71717;
  display: flex;
  flex: 1 0 auto;

}

#sidebar {
  width: 250px;
  background-color: #334361;
  display: flex;
  flex-direction: column;
}

.camera_item {
  margin: 1px auto;
  cursor: default;
}

.camera_item:active {
  background-color: #2e3f5f;
}

.camera_item:nth-child(2n) {
  background-color: #2b3e61;
}

#view_map {
  flex: 1 1 auto;
  background-color: #585454;
}

.input {
  height: 100%;
  margin: 5px;
}

.button_list {
  margin: 5px;
  }

li {
  list-style-type: none;
  }
  
.map_wrapper {
  display: flex;
  flex-Direction: column;
  justify-Content: space-between;
  height: 100%;
  }

.map_container {
    background-Color: #337361;
    height: 100%;
  }

  .mapContainer {
    position: absolute;
    top: 0;
    }

.map_toolbar {
		display: flex;
    background-Color: #334361;
    height: 30px,
	}


.map_bm {
  border-top: 2px solid #3b578b;
  border-right: 2px solid #3b578b;
  border-radius: 10px 10px  0 0;
  
  background-color: #32476e;
  /*background: rgb(75,110,176);
  background: linear-gradient(77deg, rgba(75,110,176,1) 0%, rgba(63,96,158,1) 10%, rgba(59,87,139,1) 50%, rgba(75,110,176,1) 90%);
  */
  padding: 3px;
  cursor: default;
}

/*
.map_bm:active {
  background-color: #45da00;
}
*/

.map_bm--active {
  background-color: #46659e;
  border-top: 2px solid #3b578b;
  border-right: 2px solid #3b578b;
  /*box-shadow: 2px -2px 0px 7px rgba(59,87,139,1);*/
  border-radius: 10px 10px  0 0;
  padding: 3px;
  cursor: default;
}


.map_bm:hover {
  background-color: #46659e;
}


/*
to del
*/
.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
  }
   
img {
  width: 30px;
  height: 30px
}